<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- User Bean -->
	<bean name="user" class="com.mr.user.User">
	<constructor-arg>
		<value>无语</value>
	</constructor-arg>
	<constructor-arg>
		<value>30</value>
	</constructor-arg>
	<constructor-arg>
		<value>女</value>
	</constructor-arg>
</bean>

</beans>