<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="org.crazyit.desktop"
	  android:versionCode="1"
	  android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<receiver android:name="DesktopApp"	
			android:label="@string/app_name">
			<!-- 将该BroadcastReceiver当成桌面小控件 -->
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<!-- 指定桌面小控件的meta-data -->
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_provider"/>
		</receiver>
	</application>


</manifest> 