<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.eoemobile.infos_assistant"
      android:versionCode="2"
      android:versionName="1.1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".eoeInfosAssistant"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="System"></activity>
        <activity android:name="Hardware"></activity>
        <activity android:name="Software"></activity>
        <activity android:name="Runing"></activity>
        <activity android:name="ShowInfo"></activity>
         <activity android:name="FSExplorer"></activity>
        
    </application>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.GET_TASKS"></uses-permission>

</manifest> 