.title {
	font-size: 10pt;
	color:#333333;
}
a:link {
	font-size: 10pt;
	color: #0099cc;
	text-decoration: none;
}
a:visited {
	color: #003366;
	text-decoration: none;
}
a:hover {
	color: #0033ff;
	text-decoration: underline;
}
input {
	border: 1px solid #666666;
	font-size: 10pt;
	color: #333333;
}
select {
	border: 1px solid #333333;
}
.error {
	width:600px;
	height:200px;
	background-color: #dddddd;
	font-size: 10pt;
	color: #FF0000;
}
td {
	font-size: 10pt;
	text-align: center;
}
body {
	background-image: url(images/bg.jpg);
}
.mytitle {
	font-size: 12px;
	font-weight: bold;
	color: #0099FF;
}
