body,div,dl,dt,dd,ul,ol,li{
	margin:0px;
	padding:0px;
	font-size: 9pt;
	line-height: 14pt;
}
#box{
	margin:0 auto auto auto;
	width:830px;
	clear:both;
	background-color:#FFFFFF;
}
#top{
	width:100%; 
	height:133px; 
	background-image:url(../images/zhuce_01a.jpg); 
	background-repeat:no-repeat;
}
#bottom{
	width:830px;
	height:30px;
	background-image:url(../images/zhuce_14.jpg);
	background-repeat:no-repeat;
	clear:both;
}
li{
	padding: 5px;
	list-style-type:none;
}
input {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #AAAAAA;
}
