<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  android:versionCode="1"
	  android:versionName="1.0" package="org.crazyit.desktop">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".AddShortcut"
				  android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<!-- 定义添加到桌面Launcher中 -->
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
			</intent-filter>			
		</activity>
	</application>
	<!-- 指定添加安装快捷方式的权限 -->
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

</manifest> 