<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<!--
body {
	FONT-SIZE: 9pt;
	margin:0px;
	SCROLLBAR-FACE-COLOR: #dddddd; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #fcfcfc; COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #eeeeee;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: #666666;
	background-color:#7C7C7C;
}
td {
	font-size: 9pt; line-height:144%;
}
a:hover {
	font-size: 9pt;	color: #FF6600;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #777777;
}
.btn_grey {
	font-family: "宋体";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
.btn_orange {
	font-family: "宋体";	font-size: 9pt;color: #FFFFFF;	
	background-color: #FF6600;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FF6600;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FF6600;
}
.btn_blank {
	font-family: "宋体";	font-size: 9pt;color: #FFFFFF;	
	background-color: #000000;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #000000;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #000000;
}
.word_dark {
	font-size: 9pt;
	color: #313131;
}
.word_login{
	font-size:9pt;
	color:#7E5A03;
}
.word_orange {
	font-size: 9pt;
	color: #FF6600;
}
.word_white {
	font-size: 9pt;
	color: #FFFFFF;
}
.txt_grey {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
	width:110;
}
input {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.wenbenkuang {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.noborder{
border:none;
}
.tableBorder {
	border: #B5DCA0 1px solid;
}
.tableBorder_lr{
	border:1px solid #B5DCA0 ;
	border-bottom-style:none; 
	border-Top-style:none; 
}
.tableBorder_lrb{
	border:1px solid #B5DCA0 ;
	border-Top-style:none; 
}

-->